<div class="header">
    <div class="header__title">
        <img src="https://mystickermania.com/cdn/stickers/rick-and-morty/sticker_2060-512x512.png" alt="">
        <h1>RICK AND MORTY</h1>
    </div>

    <div class="header__options">
        <button class="button is-success is-outlined is-rounded">Personajes</button>
        <button class="button is-success is-outlined is-rounded">Episodios</button>
        <button class="button is-success is-outlined is-rounded">Ubicación</button>
        <button class="button is-danger is-rounded" (click)="logout()">Cerrar sesión</button>
    </div>
</div>
